<div class="container-fluid">
  <button class="btn-raised info" ng-click="vm.addItem()">Dodaj</button>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>Nazwa przedmiotu</td>
        <td>Cena</td>
        <td>Dokumenty</td>
        <td>Utworzono</td>
        <td>Utworzono przez</td>
        <td>Opcje</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.items">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.docs.length}}</td>
        <td>{{item.docs}}</td>
        <td>Dima</td>
        <td>
            <button class="btn btn-small" ng-click="vm.delete($index)">Edytuj</button>
            <button class="btn btn-small" ng-click="vm.delete($index)">Usun</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
